<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <!-- <div class="panel-main__content"><a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/assets/images/profile.jpg" class="user-image" alt="My Profile Photo">
        </a></div> -->
        {{ content }}
      </div>
      

      {% include footer.html %}
    </div>
  </body>
</html>